<section class="main__1">
   <div class="swiper swiper-banner">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <picture class="main__1--img"> <img src="{% static 'img/object__1--img1.jpg' %}" alt="Премиум-обслуживание коммерческих и жилых комплексов под ключ: от безупречной уборки до решения сложных управленческих вопросов"> </picture>
            <div class="container">
               <h2>Мы работаем — Вы зарабатываете</h2>
              <p>Берем на себя полный комплекс услуг<br> управления и эксплуатации объекта,<br> выступая единым центром ответственности</p>
               <div class="main__1--lines">&nbsp;</div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="main__2">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6">
            <picture class="main__2--img"> <img src="{% static 'img/object__1--img2.png' %}" alt="мжк МЕНЕДЖМЕНТ &mdash; высокие стандарты качества жизни день за днем" loading="lazy"> </picture>
         </div>
         <div class="col ml-xl-5">
            <h1>МЖК-Менеджмент это: <br></h1>
              <p style="margin-bottom: 10px;">✓ 20+ лет работы на рынке недвижимости</p>
              <p style="margin-bottom: 10px;">✓ 8 объектов в управлении (32 000+ кв.м.)</p>
              <p style="margin-bottom: 10px;">✓ Профессиональная команда</p>
              <p style="margin-bottom: 10px;">✓ Связь 24/7</p>
              <p>✓ Прозрачность расчетов и отчетности</p>
           </div>
      </div>
   </div>
</section>
<section class="main__3">
   <div class="container">
      <h4>Наши услуги</h4>

      <div class="item__2--container">
         <a class="item__2" href="{% url 'content:index' %}">
            <picture class="item__2--img"> <img src="{% static 'img/item__2--img1.png' %}" alt="Управление" loading="lazy"> </picture>
            <h4>Управление</h4>
            <p>Гарантируем высокую экономическую эффективность и прибыльность актива, оперируя профессиональными знаниями рынка, с использованием инновационных подходов</p>
            <div class="item__2--arrow">&nbsp;</div>
         </a>
        <a class="item__2" href="{% url 'content:index' %}">
            <picture class="item__2--img dark"> <img src="{% static 'img/item__2--img2.png' %}" alt="Эксплуатация" loading="lazy"> </picture>
            <h4>Эксплуатация</h4>
            <p>Обеспечиваем надежное комплексное обслуживание и эксплуатацию объектов</p>
            <div class="item__2--arrow">&nbsp;</div>
         </a>
         <a class="item__2" href="{% url 'content:index' %}">
            <picture class="item__2--img dark"> <img src="{% static 'img/item__2--img3.png' %}" alt="Клининг" loading="lazy"> </picture>
            <h4>Клининг</h4>
            <p>Порядок начинается с чистоты</p>
            <div class="item__2--arrow">&nbsp;</div>
         </a>
         <a class="item__2" href="{% url 'content:index' %}">
            <picture class="item__2--img"> <img src="{% static 'img/item__2--img4.png' %}" alt="Безопасность" loading="lazy"> </picture>
            <h4>Безопасность</h4>
            <p>Разрабатываем защиту вашего бизнеса, с учетом особенностей и пожеланий</p>
            <div class="item__2--arrow">&nbsp;</div>
         </a>
      </div>
   </div>
</section>
<section class="main__2 main__2--bg1">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6">
            <picture class="main__2--img dark"> <img src="{% static 'img/main__2--img2.png' %}" alt="мжк МЕНЕДЖМЕНТ &mdash; премиум-сервис комплексного обслуживания, настроенный на Вас" loading="lazy"> </picture>
         </div>
         <div class="col ml-xl-5">
            <h3>УК МЖК &mdash; Менеджмент &mdash;<br> с нами Ваши доходы будут РАСТИ</h3>
         </div>
      </div>
   </div>
</section>
