<section class="object__1">
<div class="breadcrumbs">
   <div class="container">
      <ol itemscope="" itemtype="https://schema.org/BreadcrumbList">
         <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{% url 'content:index' %}">
               <span itemprop="name">Главная</span>
               <meta itemprop="position" content="1">
            </a>
         </li>
         <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{% url 'content:content' slug='properties' %}">
               <span itemprop="name">Объекты</span>
               <meta itemprop="position" content="2">
            </a>
         </li>
      </ol>
   </div>
</div>
<div class="container">
   <div class="row mx-n2">
      <div class="col-md-6 px-2">
         <div class="object__1--item">
            <div class="object-swiper swiper">
               <div class="object__1--item__labels">
               </div>
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/object__1--img1.png' %}" alt="ЖК Камелот">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/object__1--img1.png' %}" alt="ЖК Камелот">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/object__1--img1.png' %}" alt="ЖК Камелот">
                     </picture>
                  </div>
               </div>
               <div class="swiper-buttons">
                  <div class="swiper-button-prev">
                  </div>
                  <div class="swiper-button-next">
                  </div>
               </div>
            </div>
            <div class="object__1--item__content">
               <div class="object__1--item__title">ЖК Камелот</div>
               <p class="object__1--item__place">Комсомольский проспект 32</p>
               <div class="object__1--item__text">
                  <p><span style="font-weight: 400;">Жилой комплекс бизнес &ndash; класса на 135 квартир с встроенными нежилыми помещениями и подземным паркингом на 151 машиномест.</span></p>
               </div>
               <dl class="object__1--item__list">
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Общая площадь, м2</dt>
                     <dd class="object__1--item__value">28928.1</dd>
                  </div>
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Количество этажей</dt>
                     <dd class="object__1--item__value">20</dd>
                  </div>
               </dl>
            </div>
         </div>
      </div>
      <div class="col-md-6 px-2">
         <div class="object__1--item">
            <div class="object-swiper swiper">
               <div class="object__1--item__labels">
               </div>
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/object__1--img2.png' %}" alt="ЖК Камелот">
                     </picture>
                  </div>
               </div>
               <div class="swiper-buttons">
                  <div class="swiper-button-prev">
                  </div>
                  <div class="swiper-button-next">
                  </div>
               </div>
            </div>
            <div class="object__1--item__content">
               <div class="object__1--item__title">ЖК Камелот</div>
               <p class="object__1--item__place">Комсомольский проспект 32 к2</p>
               <div class="object__1--item__text">
                  <p><span style="font-weight: 400;">Жилой комплекс бизнес &ndash; класса на 170 квартир с встроенными нежилыми помещениями и подземным паркингом на 213 машиномест.</span></p>
               </div>
               <dl class="object__1--item__list">
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Общая площадь в кв.м</dt>
                     <dd class="object__1--item__value">39897.9</dd>
                  </div>
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Количество этажей</dt>
                     <dd class="object__1--item__value">18</dd>
                  </div>
               </dl>
            </div>
         </div>
      </div>
      <div class="col-md-6 px-2">
         <div class="object__1--item">
            <div class="object-swiper swiper">
               <div class="object__1--item__labels">
               </div>
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/object__1--img3.png' %}" alt="Клубный дом Тиволи">
                     </picture>
                  </div>
               </div>
               <div class="swiper-buttons">
                  <div class="swiper-button-prev">
                  </div>
                  <div class="swiper-button-next">
                  </div>
               </div>
            </div>
            <div class="object__1--item__content">
               <div class="object__1--item__title">Клубный дом Тиволи</div>
               <p class="object__1--item__place">Стромынский переулок 6</p>
               <div class="object__1--item__text">
                  <p><span style="font-weight: 400;">Клубный дом бизнес класса на 98 нежилых помещений с подземным паркингом на 31 машиноместо</span></p>
               </div>
               <dl class="object__1--item__list">
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Общая площадь в кв.м</dt>
                     <dd class="object__1--item__value">7 988,8</dd>
                  </div>
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Количество этажей</dt>
                     <dd class="object__1--item__value">5</dd>
                  </div>
               </dl>
            </div>
         </div>
      </div>
      <div class="col-md-6 px-2">
         <div class="object__1--item">
            <div class="object-swiper swiper">
               <div class="object__1--item__labels">
               </div>
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693823847-1.jpeg' %}" alt="ЖК Балтийский">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693826995 (1).jpeg' %}" alt="ЖК Балтийский">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693826986.jpeg' %}" alt="ЖК Балтийский">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693827006 (1).jpeg' %}" alt="ЖК Балтийский">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693827006 (2).jpeg' %}" alt="ЖК Балтийский">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693826975.jpeg' %}" alt="ЖК Балтийский">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693827006.jpeg' %}" alt="ЖК Балтийский">
                     </picture>
                  </div>
               </div>
               <div class="swiper-buttons">
                  <div class="swiper-button-prev">
                  </div>
                  <div class="swiper-button-next">
                  </div>
               </div>
            </div>
            <div class="object__1--item__content">
               <div class="object__1--item__title">ЖК Балтийский</div>
               <p class="object__1--item__place">Старопетровский проезд, д. 8</p>
               <div class="object__1--item__text">
                  <p><span style="font-weight: 400;">Жилой комплекс Комфорт касса на 728 жилых помещений и 53 нежилых помещений с подземным паркингом на 375 машиномест.</span></p>
               </div>
               <dl class="object__1--item__list">
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Общая площадь в кв.м.</dt>
                     <dd class="object__1--item__value">84954.2</dd>
                  </div>
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Количество этажей</dt>
                     <dd class="object__1--item__value">22</dd>
                  </div>
               </dl>
            </div>
         </div>
      </div>
      <div class="col-md-6 px-2">
         <div class="object__1--item">
            <div class="object-swiper swiper">
               <div class="object__1--item__labels">
               </div>
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/october-field1.jpeg' %}" alt="ЖК Октябрьское поле">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/october-field2.jpeg' %}" alt="ЖК Октябрьское поле">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/october-field3.jpeg' %}" alt="ЖК Октябрьское поле">
                     </picture>
                  </div>
               </div>
               <div class="swiper-buttons">
                  <div class="swiper-button-prev">
                  </div>
                  <div class="swiper-button-next">
                  </div>
               </div>
            </div>
            <div class="object__1--item__content">
               <div class="object__1--item__title">ЖК Октябрьское поле</div>
               <p class="object__1--item__place">ул. Берзарина, 30 А</p>
               <div class="object__1--item__text">
                  <p><span style="font-weight: 400;">Жилой дом Комфорт класса на 1127 квартир с встроенными нежилыми помещениями и подземным паркингом на 285 машиномест</span></p>
               </div>
               <dl class="object__1--item__list">
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Общая площадь в кв.м</dt>
                     <dd class="object__1--item__value">92102.3</dd>
                  </div>
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Количество этажей</dt>
                     <dd class="object__1--item__value">25</dd>
                  </div>
               </dl>
            </div>
         </div>
      </div>
      <div class="col-md-6 px-2">
         <div class="object__1--item">
            <div class="object-swiper swiper">
               <div class="object__1--item__labels">
               </div>
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/projects/30b-1.webp' %}" alt="ЖК Октябрьское поле">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/projects/30b-2.webp' %}" alt="ЖК Октябрьское поле">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/projects/30b-3.webp' %}" alt="ЖК Октябрьское поле">
                     </picture>
                  </div>
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/projects/30b-4.webp' %}" alt="ЖК Октябрьское поле">
                     </picture>
                  </div>
               </div>
               <div class="swiper-buttons">
                  <div class="swiper-button-prev">
                  </div>
                  <div class="swiper-button-next">
                  </div>
               </div>
            </div>
            <div class="object__1--item__content">
               <div class="object__1--item__title">ЖК Октябрьское поле</div>
               <p class="object__1--item__place">Ул. Берзарина 30Б</p>
               <div class="object__1--item__text">
                  <p><span style="font-weight: 400;">Жилой дом Комфорт класса на 312 квартир с встроенными нежилыми помещениями.</span></p>
               </div>
               <dl class="object__1--item__list">
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Общая площадь в кв.м</dt>
                     <dd class="object__1--item__value">20347</dd>
                  </div>
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Количество этажей</dt>
                     <dd class="object__1--item__value">25</dd>
                  </div>
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Другая характеристика</dt>
                     <dd class="object__1--item__value">Значение</dd>
                  </div>
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Еще одна характеристика</dt>
                     <dd class="object__1--item__value">И тоже значение</dd>
                  </div>
               </dl>
            </div>
         </div>
      </div>

      <!-------------------- Begin Property -------------------->
      <div class="col-md-6 px-2">
         <div class="object__1--item">
            <div class="object-swiper swiper">
               <div class="object__1--item__labels">
               </div>
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/object__1--img2.png' %}" alt="Бизнес Центр ФОРТ РОЗ">
                     </picture>
                  </div>
               </div>
               <div class="swiper-buttons">
                  <div class="swiper-button-prev">
                  </div>
                  <div class="swiper-button-next">
                  </div>
               </div>
            </div>
            <div class="object__1--item__content">
               <div class="object__1--item__title">Бизнес Центр ФОРТ РОЗ</div>
               <p class="object__1--item__place">Благовещенская улица, 4</p>
               <div class="object__1--item__text">
                  <p><span style="font-weight: 400;">Жилой комплекс бизнес &ndash; класса на 170 квартир с встроенными нежилыми помещениями и подземным паркингом на 213 машиномест.</span></p>
               </div>
               <dl class="object__1--item__list">
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Общая площадь в кв.м</dt>
                     <dd class="object__1--item__value">39897.9</dd>
                  </div>
                  <div class="object__1--item__block">
                     <dt class="object__1--item__term">Количество этажей</dt>
                     <dd class="object__1--item__value">18</dd>
                  </div>
               </dl>
            </div>
         </div>
      </div>
     <!-------------------- End Property -------------------->


   </div>
</div>
