<div class="container">
   <div class="breadcrumbs">
      <div class="container">
         <ol itemscope="" itemtype="https://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
               <a itemprop="item" href="/">
                  <span itemprop="name">Главная</span>
                  <meta itemprop="position" content="1">
               </a>
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
               <a itemprop="item" href="{% url 'content:content' slug='services' %}">
                  <span itemprop="name">Услуги</span>
                  <meta itemprop="position" content="2">
               </a>
            </li>
         </ol>
      </div>
   </div>
   <div class="row align-items-center services-container">
      <div class="col-lg-6">
         <picture class="main__2--img dark">
            <img loading="lazy" src="{% static 'img/item__2--img1.png' %}" alt="Управление">
         </picture>
      </div>
      <div class="col ml-xl-5">
         <h6>УПРАВЛЕНИЕ</h6>
         <div>
            <p>✓ повышение инвестиционной привлекательности объекта</p>
            <p>✓ разработка и внедрение концепции</p>
            <p>✓ стабилизация и увеличение коммерческого дохода</p>
            <p>✓ юридическое сопровождение</p>
            <p>✓ брокеридж</p>
            <p>✓ взаимодействие с городскими и федеральными органами власти</p>
         </div>
      </div>
   </div>
   <div class="row align-items-center services-container">
      <div class="col ml-xl-5">
         <h6>ЭКСПЛУАТАЦИЯ</h6>
         <p>✓ обслуживание инженерных систем и конструктивных элементов здания</p>
         <p>✓ снижение эксплуатационных издержек и коммунальных платежей</p>
         <p>✓ организация жизнеобеспечения объекта</p>
         <p>✓ аварийная служба 24/7</p>
      </div>
      <div class="col-lg-6">
         <picture class="main__2--img dark">
            <img loading="lazy" src="{% static 'img/item__2--img2.png' %}" alt="Эксплуатация">
         </picture>
      </div>
   </div>
   <div class="row align-items-center services-container">
      <div class="col-lg-6">
         <picture class="main__2--img dark">
            <img loading="lazy" src="{% static 'img/item__2--img3.png' %}" alt="Клининг">
         </picture>
      </div>
      <div class="col ml-xl-5">
         <h6>КЛИНИНГ</h6>
         <p>✓ профессиональная уборка помещений и паркинга</p>
         <p>✓ благоустройство и озеленение прилегающих территорий</p>
         <p>✓ использование сертифицированных средств и оборудования</p>
         <p>✓ вывоз мусора</p>
      </div>
   </div>
   <div class="row align-items-center services-container">
      <div class="col ml-xl-5">
         <h6>БЕЗОПАСНОСТЬ</h6>
         <p>✓ организация консьерж-сервиса</p>
         <p>✓ разработка нормативной документации по безопасности</p>
         <p>✓ взаимодействие с ЧОП</p>
         <p>✓ разработка систем контроля доступа и видеонаблюдения</p>
      </div>
      <div class="col-lg-6">
         <picture class="main__2--img dark">
            <img loading="lazy" src="{% static 'img/item__2--img4.png' %}" alt="Безопасность"">
         </picture>
      </div>
   </div>
</div>
