{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="contact__1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumbs">
    <div class="container">
        <ol itemscope="" itemtype="https://schema.org/BreadcrumbList"><li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{% url 'content:index' %}">
                <span itemprop="name">Главная</span>
                <meta itemprop="position" content="1">
            </a>
        </li>
<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{% url 'content:content' slug='contacts' %}">
                <span itemprop="name">Контакты</span>
                <meta itemprop="position" content="2">
            </a>
        </li></ol>        <h1>Контакты</h1>
    </div>
</div>
                <h2>мжк МЕНЕДЖМЕНТ</h2>
                                <div class="row mx-n2 align-items-center mb-3 mb-lg-4 pb-xxl-1">
                    <div class="col-auto">
                        <picture class="contact__1--img">
                            <img src="{% static 'img/contact__1--img1.svg' %}" alt="">
                        </picture>
                    </div>
                    <div class="col pl-1">
                        <a class="contact__1--text" href="tel:+74955005080">
                            </a>
                    </div>
                </div>
                                                <div class="row mx-n2 align-items-center mb-3 mb-lg-4 pb-xxl-1">
                    <div class="col-auto">
                        <picture class="contact__1--img">
                            <img src="{% static 'img/contact__1--img2.svg' %}" alt="">
                        </picture>
                    </div>
                    <div class="col pl-1">
                        <a class="contact__1--text" href="mailto:aranda@mgk-group.ru"> aranda@mgk-group.ru</a>
                    </div>
                </div>
                                                <div class="row mx-n2 mb-3 mb-lg-4 pb-xxl-1">
                    <div class="col-auto">
                        <picture class="contact__1--img">
                            <img src="{% static 'img/contact__1--img3.svg' %}" alt="">
                        </picture>
                    </div>
                    <div class="col pl-1">
                        <p class="contact__1--text">Москва, вн.тер.г. Муниципальный округ Сокольники, пер. Стромынский, д. 6, пом. 31/1</p>
                    </div>
                </div>
                                <div class="row mx-n2 mb-3 mb-lg-4 pb-xxl-1 req">
                    <div class="col-auto">
                        <picture class="contact__1--img">
                            <img src="{% static 'img/contact__1--img3.svg' %}" alt="">
                        </picture>
                    </div>
                    <div class="col pl-1">
                    <p>Общество с ограниченной ответственностью «мжк менеджмент»</p>
                	<p>ИНН: 9701147008</p>
                	<p>КПП: 771801001</p>
                	<p>ОГРН: 1197746595530</p>
                	<p>ОКПО: 41704345</p>
                	<p>Расчетный счет: 40702810438000245890</p>
                	<p>Банк: ПАО СБЕРБАНК</p>
                	<p>БИК: 044525225</p>
                	<p>Корр. счет: 30101810400000000225</p>
                	<p>Юридический адрес: 107076, г. Москва, вн.тер.г. Муниципальный округ Сокольники, пер. Стромынский, д. 6, пом. 31/1</p>
                	<p>Генеральный директор: Петренков Алексей Васильевич</p>
                	</div>
                </div>
            </div>
            <div class="col-md-6 contact__1--form">
                <form method="post" class="form ajax_form">
    <div class="form__title">Форма обратной связи</div>
    <div class="form__input">
        <input type="text" placeholder="Имя" name="name">
    </div>
    <div class="form__input">
        <input class="phone" type="text" placeholder="Телефон" name="tel">
    </div>
    <div class="form__input">
        <input class="email" type="text" placeholder="Email" name="email">
    </div>
    <div class="form__input">
        <textarea placeholder="Комментарий" name="text"></textarea>
    </div>
    <div class="row mx-n1 align-items-center">
        <div class="col-auto px-1">
            <label class="mb-0">
                <input type="checkbox" name="checkbox" checked>
                <span>

                </span>
            </label>
        </div>
        <div class="col px-1">
            <p class="form__agree"> Нажимая на кнопку я даю согласие на обработку персональных данных
            </p>
        </div>
    </div>
    <button class="button button__black">Отправить</button>

	<input type="hidden" name="af_action" value="f201a1deeee2be21de8b2839964df212" />
</form>            </div>
        </div>
    </div>
    <div id="map">

    </div>
</section>


    <script src="https://api-maps.yandex.ru/2.1/?apikey=4eab34db-4e34-4bc9-b5e0-8e5b71e27f6e&amp;lang=ru_RU"></script>
<script>ymaps.ready(function () {
      var myMap = new ymaps.Map('map', {
         center: [55.778525735059915, 37.67232140657375],
         zoom: 17,
         controls: ['zoomControl'],
      }, {
         //- searchControlProvider: 'yandex#search'
      }),



         myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: 'Собственный значок метки',
            balloonContent: 'Это красивая метка'
         }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: '/assets/img/myIcon.svg',
            // Размеры метки.
            iconImageSize: [31, 40],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-5, -38]
         });

      myMap.geoObjects
         .add(myPlacemark);

      myMap.behaviors.disable('scrollZoom');
   });</script>
<script src="{% static 'js/jquery.min.js' %}"> </script>
<script src="{% static 'js/jquery.mask.min.js' %}"> </script>
<script src="{% static 'js/swiper-bundle.min.js' %}"> </script>
<script src="{% static 'js/checkWebP.js' %}"> </script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"> </script>
<script src="{% static 'js/script.js' %}"> </script>
<script src="{% static 'js/custom.js' %}"> </script>
<script src="{% static 'components/ajaxform/js/default.js' %}"></script>
<script>AjaxForm.initialize({"assetsUrl":"{% static 'components/ajaxform/' %}","actionUrl":"\/assets\/components\/ajaxform\/action.php","closeMessage":"close all","formSelector":"form.ajax_form","clearFieldsOnSuccess":true,"pageId":30});</script>

{% if request.GET.success %}
<script>
$(document).ready(function() {
    $('.modal__feedback-success').show();
    setTimeout(function() {
        $('.modal__feedback-success').hide();
        $('body').attr('style', '');
        if (window.history.replaceState) {
            var url = new URL(window.location.href);
            url.searchParams.delete('success');
            window.history.replaceState({}, document.title, url.toString());
        }
    }, 5000);
});
</script>
{% endif %}

{% endblock %}
