{% load static %}
<!doctype html>
<html lang="ru">

<head>
    <link rel="canonical" href="index.html">
    <meta name="robots" content="index, follow">
      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

  
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
  
    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="мжк менеджмент">
    <meta property="og:title" content="Объекты">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://mjk.ru/object/">
    <meta property="og:description" content="Список объектов, управляемых мжк менеджмент: жилые комплексы, клубные дома, паркинги и бизнес-центры. География, адреса, структура управления и обслуживания.">
  
    <link rel="image_src" href="index.html" />
  
    <title>Объекты | мжк менеджмент</title>
  
    <meta name="description" content="Список объектов, управляемых мжк менеджмент: жилые комплексы, клубные дома, паркинги и бизнес-центры. География, адреса, структура управления и обслуживания.">
    <meta name="keywords" content="Объекты">

    <link rel="shortcut icon" href="{% static 'img/logo.svg' %}">
  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
  
  
  <link rel="stylesheet" href="{% static 'components/ajaxform/css/default.css' %}" type="text/css" />
</head>
  
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
<body>
    <header class="header">
    <div class="container relative">
        <div class="row align-items-center">
            <div class="col-auto">
                <a class="header__logo" href="{% url 'content:index' %}">
                    <picture>
                        <img src="{% static 'img/header__logo.svg' %}" alt="мжк менеджмент">
                    </picture>
                </a>
            </div>
            <div class="col static pr-0 ml-xxl-5">
                <nav class="header__menu">
    <ul class=""><li class="first"><a href="{% url 'content:index' %}" >Главная</a></li><li><a href="{% url 'content:about' %}" >О компании</a></li><li class="header__menu--dropdown"><a href="{% url 'content:services' %}">Услуги</a><ul class=""><li class="first"><a href="{% url 'content:services_cleaning' %}" >Клининг</a></li><li><a href="{% url 'content:services_exploitation' %}" >Эксплуатация</a></li><li><a href="{% url 'content:services_management' %}" >Управление</a></li><li class="last"><a href="{% url 'content:services_security' %}" >Безопасность</a></li></ul></li><li><a class="active" href="{% url 'content:objects' %}">Объекты</a></li><li class="last"><a href="{% url 'content:contacts' %}" >Контакты</a></li></ul></nav>            </div>
            <div
                class="col-auto d-none d-lg-flex flex-column align-items-start px-0 px-md-3 header-phone-mail-after-md">
                <a class="header__phone" href="tel:"> </a>                <a class="header__mail" href="mailto:aranda@mgk-group.ru">aranda@mgk-group.ru</a>            </div>
            <div class="col-auto d-none d-lg-block px-0 pl-sm-2 pr-sm-3 header-button-after-sm">
                <button class="button button__gray open__kp">Запросить КП</button>
            </div>
            <div class="col-auto d-lg-none pl-0">
                <button class="hamburger hamburger--collapse" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner">
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</header>
    
<section class="object__1">
    <div class="breadcrumbs">
    <div class="container">
        <ol itemscope="" itemtype="https://schema.org/BreadcrumbList"><li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{% url 'content:index' %}">
                <span itemprop="name">Главная</span>
                <meta itemprop="position" content="1">
            </a>
        </li>
<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{% url 'content:objects' %}">
                <span itemprop="name">Объекты</span>
                <meta itemprop="position" content="2">
            </a>
        </li></ol>        <h1>Объекты</h1>
    </div>
</div>
    

    <div class="container">
        <div class="row mx-n2">
            <div class="col-md-6 px-2">
    <div class="object__1--item">
        <div class="object-swiper swiper">
                        <div class="object__1--item__labels">
                			</div>
			
            <div class="swiper-wrapper">

                                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/object__1--img1.png' %}" alt="ЖК Камелот">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/object__1--img1.png' %}" alt="ЖК Камелот">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/object__1--img1.png' %}" alt="ЖК Камелот">
                    </picture>
                </div>
                            </div>
            <div class="swiper-buttons">
                <div class="swiper-button-prev">

                </div>
                <div class="swiper-button-next">

                </div>
            </div>
        </div>
        <div class="object__1--item__content">
            <div class="object__1--item__title">ЖК Камелот</div>
            <p class="object__1--item__place">Комсомольский проспект 32</p>
            <div class="object__1--item__text"><p><span style="font-weight: 400;">Жилой комплекс бизнес &ndash; класса на 135 квартир с встроенными нежилыми помещениями и подземным паркингом на 151 машиномест.</span></p></div>
                        <dl class="object__1--item__list">
                				<div class="object__1--item__block">
					<dt class="object__1--item__term">Общая площадь, м2</dt>
					<dd class="object__1--item__value">28928.1</dd>
				</div>
								<div class="object__1--item__block">
					<dt class="object__1--item__term">Количество этажей</dt>
					<dd class="object__1--item__value">20</dd>
				</div>
							</dl>
        </div>
    </div>
</div>
<div class="col-md-6 px-2">
    <div class="object__1--item">
        <div class="object-swiper swiper">
                        <div class="object__1--item__labels">
                			</div>
			
            <div class="swiper-wrapper">

                                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/object__1--img2.png' %}" alt="ЖК Камелот">
                    </picture>
                </div>
                            </div>
            <div class="swiper-buttons">
                <div class="swiper-button-prev">

                </div>
                <div class="swiper-button-next">

                </div>
            </div>
        </div>
        <div class="object__1--item__content">
            <div class="object__1--item__title">ЖК Камелот</div>
            <p class="object__1--item__place">Комсомольский проспект 32 к2</p>
            <div class="object__1--item__text"><p><span style="font-weight: 400;">Жилой комплекс бизнес &ndash; класса на 170 квартир с встроенными нежилыми помещениями и подземным паркингом на 213 машиномест.</span></p></div>
                        <dl class="object__1--item__list">
                				<div class="object__1--item__block">
					<dt class="object__1--item__term">Общая площадь в кв.м</dt>
					<dd class="object__1--item__value">39897.9</dd>
				</div>
								<div class="object__1--item__block">
					<dt class="object__1--item__term">Количество этажей</dt>
					<dd class="object__1--item__value">18</dd>
				</div>
							</dl>
        </div>
    </div>
</div>
<div class="col-md-6 px-2">
    <div class="object__1--item">
        <div class="object-swiper swiper">
                        <div class="object__1--item__labels">
                			</div>
			
            <div class="swiper-wrapper">

                                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/object__1--img3.png' %}" alt="Клубный дом Тиволи">
                    </picture>
                </div>
                            </div>
            <div class="swiper-buttons">
                <div class="swiper-button-prev">

                </div>
                <div class="swiper-button-next">

                </div>
            </div>
        </div>
        <div class="object__1--item__content">
            <div class="object__1--item__title">Клубный дом Тиволи</div>
            <p class="object__1--item__place">Стромынский переулок 6</p>
            <div class="object__1--item__text"><p><span style="font-weight: 400;">Клубный дом бизнес класса на 98 нежилых помещений с подземным паркингом на 31 машиноместо</span></p></div>
                        <dl class="object__1--item__list">
                				<div class="object__1--item__block">
					<dt class="object__1--item__term">Общая площадь в кв.м</dt>
					<dd class="object__1--item__value">7 988,8</dd>
				</div>
								<div class="object__1--item__block">
					<dt class="object__1--item__term">Количество этажей</dt>
					<dd class="object__1--item__value">5</dd>
				</div>
							</dl>
        </div>
    </div>
</div>
<div class="col-md-6 px-2">
    <div class="object__1--item">
        <div class="object-swiper swiper">
                        <div class="object__1--item__labels">
                			</div>
			
            <div class="swiper-wrapper">

                                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693823847-1.jpeg' %}" alt="ЖК Балтийский">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693826995 (1).jpeg' %}" alt="ЖК Балтийский">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693826986.jpeg' %}" alt="ЖК Балтийский">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693827006 (1).jpeg' %}" alt="ЖК Балтийский">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693827006 (2).jpeg' %}" alt="ЖК Балтийский">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693826975.jpeg' %}" alt="ЖК Балтийский">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/photo1693827006.jpeg' %}" alt="ЖК Балтийский">
                    </picture>
                </div>
                            </div>
            <div class="swiper-buttons">
                <div class="swiper-button-prev">

                </div>
                <div class="swiper-button-next">

                </div>
            </div>
        </div>
        <div class="object__1--item__content">
            <div class="object__1--item__title">ЖК Балтийский</div>
            <p class="object__1--item__place">Старопетровский проезд, д. 8</p>
            <div class="object__1--item__text"><p><span style="font-weight: 400;">Жилой комплекс Комфорт касса на 728 жилых помещений и 53 нежилых помещений с подземным паркингом на 375 машиномест.</span></p></div>
                        <dl class="object__1--item__list">
                				<div class="object__1--item__block">
					<dt class="object__1--item__term">Общая площадь в кв.м.</dt>
					<dd class="object__1--item__value">84954.2</dd>
				</div>
								<div class="object__1--item__block">
					<dt class="object__1--item__term">Количество этажей</dt>
					<dd class="object__1--item__value">22</dd>
				</div>
							</dl>
        </div>
    </div>
</div>
<div class="col-md-6 px-2">
    <div class="object__1--item">
        <div class="object-swiper swiper">
                        <div class="object__1--item__labels">
                			</div>
			
            <div class="swiper-wrapper">

                                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/october-field1.jpeg' %}" alt="ЖК Октябрьское поле">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/october-field2.jpeg' %}" alt="ЖК Октябрьское поле">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/october-field3.jpeg' %}" alt="ЖК Октябрьское поле">
                    </picture>
                </div>
                            </div>
            <div class="swiper-buttons">
                <div class="swiper-button-prev">

                </div>
                <div class="swiper-button-next">

                </div>
            </div>
        </div>
        <div class="object__1--item__content">
            <div class="object__1--item__title">ЖК Октябрьское поле</div>
            <p class="object__1--item__place">ул. Берзарина, 30 А</p>
            <div class="object__1--item__text"><p><span style="font-weight: 400;">Жилой дом Комфорт класса на 1127 квартир с встроенными нежилыми помещениями и подземным паркингом на 285 машиномест</span></p></div>
                        <dl class="object__1--item__list">
                				<div class="object__1--item__block">
					<dt class="object__1--item__term">Общая площадь в кв.м</dt>
					<dd class="object__1--item__value">92102.3</dd>
				</div>
								<div class="object__1--item__block">
					<dt class="object__1--item__term">Количество этажей</dt>
					<dd class="object__1--item__value">25</dd>
				</div>
							</dl>
        </div>
    </div>
</div>
<div class="col-md-6 px-2">
    <div class="object__1--item">
        <div class="object-swiper swiper">
                        <div class="object__1--item__labels">
                			</div>
			
            <div class="swiper-wrapper">

                                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/projects/30b-1.webp' %}" alt="ЖК Октябрьское поле">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/projects/30b-2.webp' %}" alt="ЖК Октябрьское поле">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/projects/30b-3.webp' %}" alt="ЖК Октябрьское поле">
                    </picture>
                </div>
                                <div class="swiper-slide">
                    <picture class="object__1--item__img">
                        <img loading="lazy" src="{% static 'img/projects/30b-4.webp' %}" alt="ЖК Октябрьское поле">
                    </picture>
                </div>
                            </div>
            <div class="swiper-buttons">
                <div class="swiper-button-prev">

                </div>
                <div class="swiper-button-next">

                </div>
            </div>
        </div>
        <div class="object__1--item__content">
            <div class="object__1--item__title">ЖК Октябрьское поле</div>
            <p class="object__1--item__place">Ул. Берзарина 30Б</p>
            <div class="object__1--item__text"><p><span style="font-weight: 400;">Жилой дом Комфорт класса на 312 квартир с встроенными нежилыми помещениями.</span></p></div>
                        <dl class="object__1--item__list">
                				<div class="object__1--item__block">
					<dt class="object__1--item__term">Общая площадь в кв.м</dt>
					<dd class="object__1--item__value">20347</dd>
				</div>
								<div class="object__1--item__block">
					<dt class="object__1--item__term">Количество этажей</dt>
					<dd class="object__1--item__value">25</dd>
				</div>
								<div class="object__1--item__block">
					<dt class="object__1--item__term">Другая характеристика</dt>
					<dd class="object__1--item__value">Значение</dd>
				</div>
								<div class="object__1--item__block">
					<dt class="object__1--item__term">Еще одна характеристика</dt>
					<dd class="object__1--item__value">И тоже значение</dd>
				</div>
							</dl>
        </div>
    </div>
</div>         
        </div>
    </div>
    
    <div class="container">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aba5b69d1ce1c97f6333592c3bca4294692f5840ab07f905d916ac6c0cb138e12&amp;source=constructor" width="100%" height="600" frameborder="0"></iframe>
    </div>
</section>
    <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-auto">
                <a class="footer__logo" href="{% url 'content:index' %}">
                    <picture>
                        <img src="{% static 'img/footer__logo.svg' %}" alt="мжк менеджмент">
                    </picture>
                </a>
                <div class="footer__links footer__links-desktop">
                                        <a href="https://itunes.apple.com/app/id6743001150?utm_source=domyland.app" target="_blank">
                        <img src="{% static 'img/app-store.png' %}" width="157" height="46" alt="" loading="lazy" decoding="async">
                    </a>
                                                            <a href="https://play.google.com/store/apps/details?id=ru.domyland.uk_jks_fm&utm_source=domyland.app" target="_blank">
                        <img src="{% static 'img/google-play.png' %}" width="157" height="46" alt="" loading="lazy" decoding="async">
                    </a>
                                                            <a href="https://www.rustore.ru/catalog/app/ru.domyland.uk_jks_fm" target="_blank">
                        <img src="{% static 'img/ru-store.png' %}" width="157" height="46" alt="" loading="lazy" decoding="async">
                    </a>
                                    </div>
                <a class="footer__policy" href="{% url 'content:privacy_policy' %}">Политика конфиденциальности</a>
                &nbsp;
                <a class="footer__policy" href="https://mjk.ru/documents/">Документы</a>
            </div>
            <div class="col-md offset-xl-2 offset-lg-1">
                <div class="row justify-content-sm-between">
                    <div class="col-sm-auto">
                        <ul class="footer__list"><li class="first"><a href="{% url 'content:index' %}" >Главная</a></li><li><a href="{% url 'content:about' %}" >О компании</a></li><li class="last active"><a href="{% url 'content:objects' %}">Объекты</a></li></ul>
                    </div>
                    <div class="col-sm-auto">
                        <ul class="footer__list">
                            <li>
                                <a href="{% url 'content:services' %}">Услуги</a>
                            </li>
                        </ul>
                        <ul class="footer__list--inner">
                            <ul class=""><li class="first"><a href="{% url 'content:services_cleaning' %}" >Клининг</a></li><li><a href="{% url 'content:services_exploitation' %}" >Эксплуатация</a></li><li><a href="{% url 'content:services_management' %}" >Управление</a></li><li class="last"><a href="{% url 'content:services_security' %}" >Безопасность</a></li></ul>                        </ul>
                    </div>
                    <div class="col-sm-auto">
                        <ul class="footer__list">
                            <li>
                                <a href="{% url 'content:contacts' %}">Контакты</a>
                            </li>
                        </ul>
                                                <a class="footer__info" href="tel:">
                            </a>
                        <br>
                                                                        <a class="footer__info" href="mailto:aranda@mgk-group.ru">aranda@mgk-group.ru</a>
                                                <div class="footer__develop">© 2026 mjk<br>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>    <div class="modal modal__feedback">
    <div class="container">
        <div class="modal__container">
            <div class="modal__close"></div>
            <form method="post" class="form ajax_form" action="{% url 'content:index' %}">
    <div class="form__title"> Запросить КП</div>
    <div class="form__input">
        <input type="text" placeholder="Имя" value="" name="name">
        <span>Некорректно</span>
    </div>
    <div class="form__input"> <input class="phone" type="text" placeholder="Телефон" value="" name="tel">
        <span>Некорректно</span>
    </div>
    <div class="row mx-n1 align-items-center mt-3 mt-lg-4">
        <div class="col-auto px-1">
            <label class="mb-0">
                <input type="checkbox" name="checkbox" checked>
                <span>

                </span>
            </label>
        </div>
        <div class="col px-1">
            <p class="form__agree"> Нажимая на кнопку я даю согласие на обработку персональных данных
            </p>
        </div>
    </div>
    <button class="button button__black"> Отправить</button>

	<input type="hidden" name="af_action" value="72a77efbe22632bd563ab7a304dd861b" />
</form>        </div>
    </div>
</div>
<div class="modal modal__feedback-success">
    <div class="container">
        <div class="form modal__container">
            <picture class="modal__success"><img src="{% static 'img/success-check.svg' %}" alt=""></picture>
            <div class="form__title"> ОТПРАВЛЕНО!</div>
            <p>Ваша заявка успешно отправлена,<br> ждите обратной связи.</p>
        </div>
    </div>
</div>

<div class="modal modal__kp">
    <div class="container">
        <div class="modal__container">
            <div class="modal__close"></div>
            <form method="post" class="form ajax_form" action="{% url 'content:index' %}">
    <div class="form__title"> Запросить КП</div>
    <div class="row mx-n2 align-items-end">
        <div class="col-md-6 px-2">
            <label class="required">Статус здания*</label>
            <select class="required" name="status">
                <option value="Жилое"> Жилое</option>
                <option value="Нежилое"> Нежилое</option>
            </select>
        </div>
        <div class="col-md-6 px-2">
            <label class="required">Адрес объекта*</label>
            <div class="form__input2 required">
                <input type="text" placeholder="" value="" name="address">
                <span>Некорректно</span>
            </div>
        </div>
    </div>
    <div class="row mx-n2 align-items-end">
        <div class="col-md-4 px-2">
            <label>Год приёмки</label>
            <div class="form__input2">
                <input type="number" placeholder="" value="" name="year">
                <span>Некорректно</span>
            </div>
        </div>
        <div class="col-md-4 px-2">
            <label class="required">Количество подъездов*</label>
            <div class="form__input2 required">
                <input type="number" placeholder="" value="" name="entrances">
                <span>Некорректно</span>
            </div>
        </div>
        <div class="col-md-4 px-2">
            <label class="required">Количество этажей*</label>
            <div class="form__input2 required">
                <input type="number" placeholder="" value="" name="floors">
                <span>Некорректно</span>
            </div>
        </div>
    </div>
    <div class="row mx-n2 align-items-end">
        <div class="col-md-3 px-2">
            <label>Закрытая территория</label>
            <select name="closed">
                <option value="Да"> Да</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
        <div class="col-md-3 px-2">
            <label>Подземный гараж</label>
            <select name="garage">
                <option value="Есть"> Есть</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
        <div class="col-md-3 px-2">
            <label>Общая площадь помещений без балконов и лоджий, м2</label>
            <div class="form__input2">
                <input type="number" placeholder="" value="" name="square">
                <span>Некорректно</span>
            </div>
        </div>
        <div class="col-md-3 px-2">
            <label>Уборочная площадь МОП, м2</label>
            <div class="form__input2">
                <input type="number" placeholder="" value="" name="square2">
                <span>Некорректно</span>
            </div>
        </div>
    </div>
    <div class="modal__kp--subtitle">Лифты</div>
    <div class="row mx-n2 align-items-end">
        <div class="col-6 col-md-4 col-lg px-2">
            <label class="required">Количество*</label>
            <div class="form__input2 required">
                <input type="number" placeholder="" name="amount" value="">
                <span>Некорректно</span>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg px-2">
            <label>Марка</label>
            <div class="form__input2">
                <input type="text" placeholder="" value="" name="brand">
                <span>Некорректно</span>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg px-2">
            <label>Грузоподъёмность, кг</label>
            <div class="form__input2">
                <input type="text" placeholder="" value="" name="load">
                <span>Некорректно</span>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg px-2">
            <label>Скорость, м/с</label>
            <div class="form__input2">
                <input type="text" placeholder="" value="" name="speed">
                <span>Некорректно</span>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg px-2">
            <label>Количество остановок</label>
            <div class="form__input2">
                <input type="text" placeholder="" value="" name="stops">
                <span>Некорректно</span>
            </div>
        </div>
    </div>
    <div class="row mx-n2 align-items-end">
        <div class="col-md-6 px-2">
            <label>Материал фасадов</label>
            <div class="form__input2">
                <input type="text" placeholder="" value="" name="material">
                <span>Некорректно</span>
            </div>
        </div>
        <div class="col-md-6 px-2">
            <label class="required">ИТП/ЦТП*</label>
            <select class="required" name="etc">
                <option value="Есть"> Есть</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
    </div>
    <div class="row mx-n2 align-items-end">
        <div class="col-md-3 px-2">
            <label class="required">Обслуживание прилегающей
                территории</label>
            <select class="required" name="service">
                <option value="Да"> Да</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
        <div class="col-md-3 px-2">
            <label>Принудительная приточная вентиляция в
                квартирах</label>
            <select name="ventilation">
                <option value="Есть"> Есть</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
        <div class="col-md-3 px-2">
            <label>Принудительная вытяжная вентиляция в квартирах</label>
            <select name="ventilation2">
                <option value="Есть"> Есть</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
        <div class="col-md-3 px-2">
            <label>Система ДУ и ППА</label>
            <select name="system">
                <option value="Есть"> Есть</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
    </div>
    <div class="row mx-n2 align-items-end">
        <div class="col-md-3 px-2">
            <label>Мусоропровод</label>
            <select name="chute">
                <option value="Да"> Да</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
        <div class="col-md-3 px-2">
            <label>Система контроля и управления доступа</label>
            <select name="system2">
                <option value="Есть"> Есть</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
        <div class="col-md-3 px-2">
            <label>Домофон</label>
            <select name="intercom">
                <option value="Есть"> Есть</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
        <div class="col-md-3 px-2">
            <label>Видеонаблюдение</label>
            <select name="video">
                <option value="Есть"> Есть</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
    </div>
    <div class="row mx-n2 align-items-end">
        <div class="col-md-3 px-2">
            <label>Автоматические ворота</label>
            <select name="gates">
                <option value="Есть"> Есть</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
        <div class="col-md-3 px-2">
            <label>Автоматические двери</label>
            <select name="doors">
                <option value="Есть"> Есть</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
        <div class="col-md-3 px-2">
            <label>Видеодомофоны</label>
            <select name="intercoms">
                <option value="Есть"> Есть</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
        <div class="col-md-3 px-2">
            <label>Консьержи/охрана</label>
            <select name="security">
                <option value="Круглосуточно"> Круглосуточно</option>
                <option value="Нет"> Нет</option>
            </select>
        </div>
    </div>
    <div class="row mx-n2 align-items-end">
        <div class="col-md-6 px-2">
            <label>Прочее</label>
            <div class="form__input2">
                <input type="text" placeholder="" value="" name="other">
                <span>Некорректно</span>
            </div>
        </div>
        <div class="col-md-6 px-2">
            <label>Особенности</label>
            <div class="form__input2">
                <input type="text" placeholder="" value="" name="particular">
                <span>Некорректно</span>
            </div>
        </div>
    </div>
    <div class="row mx-n2 align-items-end">
        <div class="col-md-6 px-2">
            <label>Строительные недоделки</label>
            <div class="form__input2">
                <input type="text" placeholder="" value="" name="imperfections">
                <span>Некорректно</span>
            </div>
        </div>
        <div class="col-md-6 px-2">
            <label class="required">Контакты*</label>
            <div class="form__input2 required">
                <input class="phone" type="text" placeholder="" value="" name="contact">
                <span>Некорректно</span>
            </div>
        </div>
    </div>
    <div class="row mx-n1 align-items-center mt-3 mt-lg-4">
        <div class="col-auto px-1">
            <label class="mb-0">
                <input type="checkbox" name="checkbox" checked>
                <span>
                </span>
            </label>
        </div>
        <div class="col px-1">
            <p class="form__agree"> Нажимая на кнопку я даю согласие на обработку персональных данных
            </p>
        </div>
    </div>
    <button class="button button__black"> Запросить</button>

	<input type="hidden" name="af_action" value="9c5acba85282fb0ea6f826fa82ee3268" />
</form>        </div>
    </div>
</div>    <script src="{% static 'js/jquery.min.js' %}"> </script>
<script src="{% static 'js/jquery.mask.min.js' %}"> </script>
<script src="{% static 'js/swiper-bundle.min.js' %}"> </script>
<script src="{% static 'js/checkWebP.js' %}"> </script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"> </script>
<script src="{% static 'js/script.js' %}"> </script>
<script src="{% static 'js/custom.js' %}"> </script>
<script src="{% static 'components/ajaxform/js/default.js' %}"></script>
<script>AjaxForm.initialize({"assetsUrl":"{% static 'components/ajaxform/' %}","actionUrl":"\/assets\/components\/ajaxform\/action.php","closeMessage":"close all","formSelector":"form.ajax_form","clearFieldsOnSuccess":true,"pageId":29});</script>
</body>

</html>
